{% extends 'base.html' %}


{% block content %}


<div class="container  mt-5">
  <h3 class="mb-3">Log in</h3>
    <form method="post" action="">
        
        {{ form.hidden_tag() }}
        
        {{ form.emailli.label(class="form-control-label") }}
        {{ form.emailli(class='form-control') }}
        {% for error in form.emailli.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.passwordli.label(class="form-control-label") }}
        {{ form.passwordli(class='form-control') }}
        {% for error in form.passwordli.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.login(class='btn btn-success') }}
    </form>
    <br>
    <a  type="button" class="btn btn-link" href="{{ url_for('signup')}}">Want to make an account?</a>
</div>

{% endblock %}