{% extends 'base.html' %}


{% block content %}


<div class="container  mt-5">
  <h3 class="mb-3">Log in</h3>
    <form method="post" action="">
        
        {{ form.hidden_tag() }}
        
        {{ form.pwordAmount.label(class="form-control-label") }}
        {{ form.pwordAmount(class='form-control') }}
        {% for error in form.pwordAmount.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.pwordStrength.label(class="form-control-label") }}
        {{ form.pwordStrength(class='form-control') }}
        {% for error in form.pwordStrength.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.pwordSubmit(class='btn btn-success') }}
    </form>
    <p>{{rn_pw}}</p>
    <br>
    <a  type="button" class="btn btn-link" href="{{ url_for('signup')}}">Back to signup</a>
</div>

{% endblock %}