{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<div class="container-fluid mt-5">
  
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3>Want to ask something?</h3>
        <button type="button" class="btn btn-link">Post a question here</button>
      </div>
      <div class="col-2"></div>
    </div>
  {% for question in questions %}
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        
          <h3>question.title</h3>
          <p>question.explanation</p>
          <h6 class="m-1">question.user</h6>
          <p class="font-weight-lighter text-info">question.tags</p>
        
      </div>
      <div class="col-2"></div>
    </div>
  
  {% endfor %}
  </div>

{% endblock body%}