{% extends 'base.html' %}

{%block head %}

{% endblock head %}

{% block body %}
<div class="container-fluid mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>Sign up</h1>
                <form>
                  <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="inputEmail">
                    
                  </div>
                  <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername">
                    
                  </div>
                  <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <a id="toSLogInBtn" type="button" class="btn btn-link" href="login">Already have an account?</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    

{% endblock body%}